#file-explorer {
    width: auto;
    background-color: #333333;
    padding: 20px;
    overflow-y: auto;
    order: 3;
    border: 1px solid #555555;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#file-explorer ul {
    list-style-type: none;
    padding-left: 20px;
}

#file-explorer li {
    cursor: pointer;
    padding: 5px 0;
    color: #cccccc;
    font-size: 14px;
}

#file-explorer li:hover {
    color: #ffffff;
}

#file-explorer h2 {
    color: #ffffff;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 15px;
}
